RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

Options All -Indexes

ErrorDocument 404 http://localhost:56327/Schoolproject%20Senne/404

ErrorDocument 403 http://localhost:56327/Schoolproject%20Senne/403
